TF_Content: |-
  #!/bin/sh

  terraform init
  terraform apply --auto-approve
TF_Repo:
  key: dsalgo
  title: taher27/dsalgo
  owner: taher27
  default_branch: master
  id: 215791139
TF_Branch: master
TF_Git_path: Algorithms/DP
TF_Uninstall: |-
  #!/bin/sh

  terraform destroy
lastUpdatedBy: Taher Mandapwala
lastUpdatedOn: 2022-10-04T04:52:37.572Z
