TF_Content: |-
  #!/bin/sh

  terraform init
  terraform apply --auto-approve

  # testing terraform
TF_Repo:
  id: ''
  key: dsalgo
  title: taher27/dsalgo
  owner: taher27
TF_Branch: master
TF_Git_path: Algorithms/DP
TF_Uninstall: |-
  #!/bin/sh

  terraform destroy

  # terraform destroy.
lastUpdatedBy: Taher Mandapwala
lastUpdatedOn: 2022-09-29T07:48:51.549Z
